@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 12px;

  /* Primary Colors */
  --strong-cyan: 172 67% 45%;
  --very-dark-cyan: 183 100% 15%;
  --dark-grayish-cyan: 186 14% 43%;
  --grayish-cyan: 184 14% 56%;
  --light-grayish-cyan: 185 41% 84%;
  --very-light-grayish-cyan: 189 41% 97%;

  /* Secondary Colors */
  --very-dark-magenta: 300 43% 22%;
  --soft-pink: 333 80% 67%;
  --dark-grayish-magenta: 303 10% 53%;
  --light-grayish-magenta: 300 24% 96%;
  --very-dark-desaturated-blue: 237 23% 32%;
  --blue-black: rgb(11, 1, 20);

  /* Neutral Colors */
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --dark-gray: 0 0% 48%;
  --input: 214.3 31.8% 91.4%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--blue-black);
}

section {
  margin-block: 10rem;
  padding-inline: 8rem;
  font-size: 1.1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

label {
  font-size: 1.1rem;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientAnimation 1s ease infinite;
}

/* Toastify Fix */
.Toastify {
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* UI Colors */
    --background: var(--white);
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --card: var(--white);
    --card-foreground: var(--foreground);
    --popover: var(--white);
    --popover-foreground: var(--foreground);
    --border: 214.3 31.8% 91.4%;
    --primary: var(--foreground);
    --primary-foreground: 210 40% 98%;
    --secondary: var(--muted);
    --secondary-foreground: var(--foreground);
    --accent: var(--muted);
    --accent-foreground: var(--foreground);
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: var(--white);
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --background: var(--blue-black);
    --foreground: var(--white);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
